# Task: Create Table and Insert Records

## Problem Statement:
Write a Python program to:
1. Create a table in a database.
2. Insert records into the table.
3. Select all rows from the table and display the records.

## Steps:
1. **Import the `sqlite3` module** (or another database module of your choice) to interact with a database.
2. **Connect to a database** (either a new or existing one).
3. **Create a table** with appropriate columns using SQL `CREATE TABLE` statement.
4. **Insert records** into the table using SQL `INSERT INTO` statement.
5. **Select all rows** from the table using SQL `SELECT *` statement and fetch the results.
6. **Display the records** on the screen.

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def sql_connection():
   try:
     conn = sqlite3.connect('mydatabase.db')
     return conn
   except Error:
     print(Error)

In [3]:
def create_table(conn):
   cursorObj = conn.cursor()
   cursorObj.execute("CREATE TABLE IF NOT EXISTS salesman(salesman_id INTEGER PRIMARY KEY, name TEXT, city TEXT, commission REAL);")
   conn.commit()

In [4]:
def insert_record(conn, salesman_id, name, city, commission):
   cursorObj = conn.cursor()
   cursorObj.execute("INSERT INTO salesman (salesman_id, name, city, commission) VALUES (?, ?, ?, ?)", 
                     (salesman_id, name, city, commission))
   conn.commit()

In [5]:
def read_records(conn):
   cursorObj = conn.cursor()
   cursorObj.execute("SELECT * FROM salesman")
   rows = cursorObj.fetchall()
   print("Agent details:")
   for row in rows:
       print(row)

In [6]:
def update_record(conn, salesman_id, name, city, commission):
   cursorObj = conn.cursor()
   cursorObj.execute("UPDATE salesman SET name = ?, city = ?, commission = ? WHERE salesman_id = ?", 
                     (name, city, commission, salesman_id))
   conn.commit()

In [7]:
def delete_record(conn, salesman_id):
   cursorObj = conn.cursor()
   cursorObj.execute("DELETE FROM salesman WHERE salesman_id = ?", (salesman_id,))
   conn.commit()

In [8]:
def main():
   sqllite_conn = sql_connection()
   
   if sqllite_conn:
       create_table(sqllite_conn)

       insert_record(sqllite_conn, 5001, 'James Hoog', 'New York', 0.15)
       insert_record(sqllite_conn, 5002, 'Nail Knite', 'Paris', 0.25)
       insert_record(sqllite_conn, 5003, 'Pit Alex', 'London', 0.15)
       
       read_records(sqllite_conn)
       
       update_record(sqllite_conn, 5001, 'James Hoog', 'San Francisco', 0.20)
       print("\nAfter update:")
       read_records(sqllite_conn)
       
       delete_record(sqllite_conn, 5002)
       print("\nAfter deletion:")
       read_records(sqllite_conn)

       sqllite_conn.close()
       print("\nThe SQLite connection is closed.")

In [9]:
if __name__ == "__main__":
   main()

Agent details:
(5001, 'James Hoog', 'New York', 0.15)
(5002, 'Nail Knite', 'Paris', 0.25)
(5003, 'Pit Alex', 'London', 0.15)

After update:
Agent details:
(5001, 'James Hoog', 'San Francisco', 0.2)
(5002, 'Nail Knite', 'Paris', 0.25)
(5003, 'Pit Alex', 'London', 0.15)

After deletion:
Agent details:
(5001, 'James Hoog', 'San Francisco', 0.2)
(5003, 'Pit Alex', 'London', 0.15)

The SQLite connection is closed.