# Module 4 & 5

## Comparison Operators

- Check Equality

In [1]:
2 == 2

True

In [2]:
2 == 3

False

In [4]:
'Hello' == 'Hello'

True

In [5]:
'Hello' == 'Bye'

False

In [7]:
2.0 == 2

True

- Check Non Equality

In [8]:
3 != 3

False

In [9]:
4 != 3

True

- Greater than & Less than

In [11]:
2 < 3

True

In [12]:
2 > 3

False

In [13]:
2 <= 2

True

In [14]:
3 >= 5

False

In [15]:
1 < 2 < 3

True

In [16]:
1 < 2 > 3

False

In [17]:
1 < 4 > 3

True

## Logical Operators

**Logical Operators in Python**

Logical operators in Python are used to combine conditional statements and return Boolean values (`True` or `False`). The three primary logical operators are:

- **`and`**: Returns `True` if both operands are true.
- **`or`**: Returns `True` if at least one of the operands is true.
- **`not`**: Returns `True` if the operand is false, and vice versa.

These operators are commonly used in control flow statements like `if`, `while`, and comprehensions to build complex logical conditions.

In [18]:
2 == 2 and 3 == 3

True

In [19]:
2 == 3 and 3 == 3

False

In [21]:
#This will work for different datatypes also. FOr Ex.
'h' == 'h' and 3 == 3

True

In [22]:
2 == 3 or 3 == 3

True

In [23]:
2 == 3 and 3 == 4

False

In [24]:
not 1 == 1

False

In [25]:
not 1 == 2

True

In [26]:
not 400 > 500

True

## If, ELif and Else Statements

In [27]:
if  True:
    print("Its True!")

Its True!

In [28]:
if False:
    print("Its False!")

In [31]:
hungry = True

if hungry:
    print("Feed Me!")
else:
    print("I am not Hungry!")

Feed Me!

In [32]:
hungry = False

if hungry:
    print("Feed Me!")
else:
    print("I am not Hungry!")

I am not Hungry!

In [34]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are Cool!")
elif loc == 'Bank':
    print("Money is Cool!")
else:
    print("I do not know much")

Money is Cool!

## For Loops & While Loops

In [35]:
mynum = [1,2,3,4,5,6,7,8,9,10]

In [36]:
for num in mynum:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [37]:
for num in mynum:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [38]:
list_sum = 0

for num in mynum:
    list_sum = list_sum + num

list_sum

55

In [39]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [41]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [42]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [43]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [45]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [46]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [47]:
d = {'k1':1,'k2':2,'k3':3}

for key,values in d:
    print(key,values)

k 1
k 2
k 3

In [50]:
x = 0
while x < 5:
    print(f'X = {x}')
    x += 1

X = 0
X = 1
X = 2
X = 3
X = 4

**break, continue, pass**

We can use `break`, `continue`, and `pass` statements in our loops to add additional functionality for various cases. The three statements are defined by:

- `break`: Breaks out of the current closest enclosing loop.
- `continue`: Goes to the top of the closest enclosing loop.
- `pass`: Does nothing at all.

In [52]:
#Pass statements
for num in mynum:
    pass
print("End of Script")

End of Script

In [55]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'm':
        continue
    print(letter)

S
a
y

In [56]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [57]:
x = 0
while x < 5:

    if x == 2:
        break
    
    print(f'X = {x}')
    x += 1

X = 0
X = 1

## Useful operators in python

**range in Python**

The `range` function generates a sequence of numbers. It is commonly used for iterating over a sequence in loops. You can specify:

- **start**: The value to start the sequence (default is 0).
- **stop**: The value to stop the sequence (exclusive).
- **step**: The value by which the sequence increments (default is 1).

The sequence includes the **start** value but excludes the **stop** value.

In [59]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(1,5):
    print(i)

#range work in start to stop-1. In this case 1 to 5-1=4

1
2
3
4

In [63]:
for i in range(1,5,2): # it will take jump of two places instead of 1 as step's value is 2
    print(i)

1
3

In [64]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

**enumerate in Python**

The `enumerate` function adds a counter to an iterable and returns it as an enumerate object. This is commonly used in loops to get both the index and the value of items in a sequence.

- **iterable**: The sequence (like a list, tuple, or string) to iterate over.
- **start**: The starting index (default is 0).

The function returns an iterator of pairs, where the first element is the index and the second element is the corresponding item from the iterable.

In [66]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

**zip in Python**

The `zip` function takes multiple iterables (e.g., lists or tuples) and returns an iterator that aggregates elements from each iterable. It creates pairs of elements from the iterables, with the first elements paired together, the second elements paired together, and so on.

- **iterables**: Two or more iterables to be combined.
- The result is an iterator of tuples, where each tuple contains elements from the corresponding position in the input iterables.

If the iterables are of unequal length, `zip` stops creating pairs when the shortest iterable is exhausted.

In [67]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

**in in Python**

The `in` keyword is used to check if a value exists within an iterable (e.g., a list, tuple, string, or dictionary). It returns `True` if the value is found, and `False` otherwise.

- **Syntax**: `value in iterable`
- It can also be used in loops to iterate over elements of an iterable.

The `in` keyword is a quick way to check membership or perform iteration in Python.

In [68]:
2 in mylist1

True

In [70]:
4 in mylist1

False

In [71]:
min(mylist3)

100

In [72]:
max(mylist3)

300

## Some random functions

In [73]:
from random import shuffle

In [78]:
mylist = list(range(11))

In [81]:
shuffle(mylist)
mylist

[4, 0, 8, 5, 2, 3, 10, 9, 1, 6, 7]

In [83]:
from random import randint

In [121]:
randint(0,100)

3

**input in Python**

The `input` function allows the user to provide input via the console. It reads a line of text entered by the user and returns it as a string.

- **Syntax**: `input(prompt)`
  - **prompt**: An optional string that is displayed to the user before they enter their input.
  
The `input` function always returns the entered data as a string, even if the user enters a number.

In [126]:
name = input("What is your name?")
name

What is your name? MR

'MR'

In [124]:
result = input("Enter a number Here: ")
result

Enter a number Here:  50

'50'

In [127]:
type(result)

str

In [128]:
int(result)

50

In [130]:
#So you have to do this:
result = int(input("Enter a number Here: "))
result

Enter a number Here:  50

50

In [131]:
type(result)

int

## List Comprehensions

**List Comprehensions in Python**

List comprehensions provide a concise way to create lists by performing operations on an existing iterable. It allows for compact syntax to generate a new list based on a condition or transformation.

- **Syntax**: `[expression for item in iterable if condition]`
  - **expression**: The operation or value to include in the new list.
  - **item**: The variable representing each element from the iterable.
  - **iterable**: The iterable (e.g., list, range) to iterate over.
  - **condition** (optional): A condition that filters which items are included.

List comprehensions can simplify code by replacing traditional for-loops with a more compact form.

In [141]:
mystring = 'Hello World'

mylist = []

In [142]:
for letter in mystring:
    mylist.append(letter)

mylist
#This is brute-force approach

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [152]:
mystring = 'Hello'

mylist = [letter for letter in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [154]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [159]:
mylist = [num for num in range(11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]