# Task: Extract Date from Excel File using Pandas

## Problem Statement:
Given an Excel file containing strings with embedded date information, extract the date portion from those strings and store it in a new column of the DataFrame using Python (without changing the original content).

## Steps:
1. Import necessary modules: `pandas` and `re`.
2. Read the Excel file using `pd.read_excel()`.
3. Create a new column in the DataFrame to hold extracted dates.
4. Define a regular expression pattern that matches common date formats (e.g., `dd-mm-yyyy`, `yyyy-mm-dd`).
5. Apply the regex pattern to extract the date using `str.extract()` or `re.search()` inside a lambda function.
6. Store the result in the new column of the DataFrame.

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel("date_sample_data.xlsx");

In [3]:
df

        Date                                   Description
0 2020-04-03               your payment made in 03/04/2020
1 2020-04-04                  Client meeting on 22/04/2020
2 2020-04-05               your payment made in 13/04/2020
3 2020-04-06           Party will take place on 24/05/2020
4 2020-04-07               your payment made in 21/04/2020
5 2020-04-08                  Client meeting on 02/04/2020
6 2020-04-09  Bill last date on 31/04/2020 do before a day

In [4]:
df['new_Date']= None
df

        Date                                   Description new_Date
0 2020-04-03               your payment made in 03/04/2020     None
1 2020-04-04                  Client meeting on 22/04/2020     None
2 2020-04-05               your payment made in 13/04/2020     None
3 2020-04-06           Party will take place on 24/05/2020     None
4 2020-04-07               your payment made in 21/04/2020     None
5 2020-04-08                  Client meeting on 02/04/2020     None
6 2020-04-09  Bill last date on 31/04/2020 do before a day     None

In [5]:
index_set = df.columns.get_loc('Description')
index_date = df.columns.get_loc('new_Date')

print(index_set, index_date)

1 2

In [6]:
date_pattern = r'([0-9]{2}\/[0-9]{2}\/[0-9]{4})'

In [7]:
for row in range(0, len(df)):
    Date = re.search(date_pattern,df.iat[row,index_set]).group()
    df.iat[row, index_date] = Date

In [8]:
df

        Date                                   Description    new_Date
0 2020-04-03               your payment made in 03/04/2020  03/04/2020
1 2020-04-04                  Client meeting on 22/04/2020  22/04/2020
2 2020-04-05               your payment made in 13/04/2020  13/04/2020
3 2020-04-06           Party will take place on 24/05/2020  24/05/2020
4 2020-04-07               your payment made in 21/04/2020  21/04/2020
5 2020-04-08                  Client meeting on 02/04/2020  02/04/2020
6 2020-04-09  Bill last date on 31/04/2020 do before a day  31/04/2020