# Task: Convert Multiple JSON Files to CSV

## Problem Statement:
Write a Python program that reads multiple JSON files from a directory, merges their content using pandas, and exports the combined data into a single CSV file.

## Steps:
1. **Load the JSON files with the help of pandas DataFrame** using `pd.read_json()` for each file.
2. **Concatenate the DataFrames** into one unified DataFrame using `pd.concat()`.
3. **Convert the concatenated DataFrame into a CSV file** using `to_csv()` method.

In [1]:
import pandas as pd

## If all columns match

In [2]:
df1 = pd.read_json('file1.json')
df2 = pd.read_json('file2.json')

In [3]:
print("Data from file1.json")
print(df1)
print("\nData from file2.json:")
print(df2)

Data from file1.json
   ID    Name  Marks Grade
0  23     Ram     89     B
1  43    Deep     97     A
2  12    Yash     45     F
3  13    Aman     78     C
4  67   Arjun     56     E
5  89  Aditya     76     C

Data from file2.json:
   ID     Name  Marks Grade
0  90    Akash     81     B
1  56  Chalsea     87     B
2  34    Divya    100     A
3  96    Sajal     89     B
4  45  Shubham     78     C

In [4]:
df_combined = pd.concat([df1, df2], ignore_index=True)

In [5]:
print("\nCombined DataFrame:")
print(df_combined)

Combined DataFrame:
    ID     Name  Marks Grade
0   23      Ram     89     B
1   43     Deep     97     A
2   12     Yash     45     F
3   13     Aman     78     C
4   67    Arjun     56     E
5   89   Aditya     76     C
6   90    Akash     81     B
7   56  Chalsea     87     B
8   34    Divya    100     A
9   96    Sajal     89     B
10  45  Shubham     78     C

In [6]:
df_combined.to_csv("CSV.csv", index=False)

In [7]:
print("\nData loaded from CSV.csv:")
result = pd.read_csv("CSV.csv")
print(result)

Data loaded from CSV.csv:
    ID     Name  Marks Grade
0   23      Ram     89     B
1   43     Deep     97     A
2   12     Yash     45     F
3   13     Aman     78     C
4   67    Arjun     56     E
5   89   Aditya     76     C
6   90    Akash     81     B
7   56  Chalsea     87     B
8   34    Divya    100     A
9   96    Sajal     89     B
10  45  Shubham     78     C

## If some columns match

In [8]:
df3 = pd.read_json('file3.json')
df4 = pd.read_json('file4.json')

In [9]:
print("Data from file3.json:")
print(df3, "\n")

Data from file3.json:
   ID    Name  Marks
0  23     Ram     89
1  43    Deep     97
2  12    Yash     45
3  13    Aman     78
4  67   Arjun     56
5  89  Aditya     76

In [10]:
print("Data from file4.json:")
print(df4, "\n")

Data from file4.json:
   ID    Name Grade
0  23     Ram     B
1  43    Deep     A
2  12    Yash     F
3  67   Arjun     E
4  89  Aditya     C

In [11]:
df_inner = pd.merge(df3, df4, how='inner', on=['ID', 'Name'])
df_outer = pd.merge(df3, df4, how='outer', on=['ID', 'Name'])
df_left = pd.merge(df3, df4, how='left', on=['ID', 'Name'])
df_right = pd.merge(df3, df4, how='right', on=['ID', 'Name'])

In [12]:
df_inner.to_csv("CSV_inner.csv", index=False)
df_outer.to_csv("CSV_outer.csv", index=False)
df_left.to_csv("CSV_left.csv", index=False)
df_right.to_csv("CSV_right.csv", index=False)

In [13]:
print("Outer Join Result:\n", pd.read_csv("CSV_outer.csv"), "\n")
print("Inner Join Result:\n", pd.read_csv("CSV_inner.csv"), "\n")
print("Left Join Result:\n", pd.read_csv("CSV_left.csv"), "\n")
print("Right Join Result:\n", pd.read_csv("CSV_right.csv"), "\n")

Outer Join Result:
    ID    Name  Marks Grade
0  12    Yash     45     F
1  13    Aman     78   NaN
2  23     Ram     89     B
3  43    Deep     97     A
4  67   Arjun     56     E
5  89  Aditya     76     C

Inner Join Result:
    ID    Name  Marks Grade
0  23     Ram     89     B
1  43    Deep     97     A
2  12    Yash     45     F
3  67   Arjun     56     E
4  89  Aditya     76     C

Left Join Result:
    ID    Name  Marks Grade
0  23     Ram     89     B
1  43    Deep     97     A
2  12    Yash     45     F
3  13    Aman     78   NaN
4  67   Arjun     56     E
5  89  Aditya     76     C

Right Join Result:
    ID    Name  Marks Grade
0  23     Ram     89     B
1  43    Deep     97     A
2  12    Yash     45     F
3  67   Arjun     56     E
4  89  Aditya     76     C